<a href="https://colab.research.google.com/github/Sru-j/Linux/blob/main/data_combine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing files from drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
DIR = '/content/drive/My Drive/Colab Notebooks/day_10_data'
data_center ='superstore_central_dirty.csv'
data_east = 'superstore_east_dirty.csv'
data_north = 'superstore_north_dirty.csv'

In [3]:
import pandas as pd
filename_center = DIR+'/'+data_center
filename_east = DIR+'/'+data_east
filename_north = DIR+'/'+data_north
df_center = pd.read_csv(filename_center)
df_east = pd.read_csv(filename_east)
df_north = pd.read_csv(filename_north)

DF_CENTER Information

In [48]:
df_center

,index,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,...,region,product_id,category,sub_category,product_name,sales,qty,discount,profit,notes(dirty)
0,14,15.0,US-2015-118983,2015-11-22,11-26-2015,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,...,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.81,5,0.8,-123.858,NaN
1,15,16.0,US-2015-118983,22/11/2015,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,...,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.544,3,0.8,-3.816,NaN
2,16,17.0,CA-2014-105893,NaN,18/11/2014,Standard Class,PK-19075,Pete Kriz,Consumer,United States,...,Central,OFF-ST-10004186,Office Supplies,Storage,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",665.88,6,0.0,13.3176,NaN
3,21,22.0,CA-2016-137330,NaN,12-13-2016,Standard Class,KB-16585,Ken Black,Corporate,United States,...,Central,OFF-AR-10000246,Office Supplies,Art,Newell 318,19.46,7,0.0,5.0596,NaN
4,22,23.0,CA-2016-137330,NaN,13/12/2016,Standard Class,KB-16585,Ken Black,Corporate,United States,...,Central,OFF-AP-10001492,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length",60.34,7,0.0,15.6884,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2341,1989,1990.0,CA-2015-127509,NaN,13/11/2015,Standard Class,AS-10090,Adam Shillingsburg,Consumer,United States,...,Central,OFF-EN-10000781,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",26.22,3,0.0,$12.32,NaN
2342,9485,9486.0,CA-2016-164770,NaN,NaN,Second Class,MY-18295,Muhammed Yedwab,Corporate,United States,...,Central,OFF-PA-10003893,Office Supplies,Paper,Xerox 1962,30.816,9,0.2,9.63,NaN
2343,8219,8220.0,CA-2014-120775,NaN,NaN,Standard Class,RD-19930,Russell D'Ascenzo,Consumer,United States,...,Central,OFF-LA-10002271,OFFICE SUPPLIES,Labels,Smead Alpha-Z Color-Coded Second Alphabetical ...,4.928,2,0.2,1.7248,NaN
2344,8673,8674.0,CA-2017-163265,02-16-2017,02-21-2017,Standard Class,JS-16030,Joy Smith,Consumer,United States,...,Central,FUR-CH-10004063,Furniture,Chairs,Global Deluxe High-Back Manager's Chair,600.558,3,0.3,-8.5794,NaN
2345,6848,6849.0,US-2016-163461,06-18-2016,21/06/2016,First Class,BT-11440,Bobby Trafton,Consumer,United States,...,Central,OFF-PA-10003134,Office Supplies,Paper,Xerox 1937,76.864,2,0.2,26.9024,NaN

In [7]:
df_center.shape

(2346, 23)

In [8]:
df_center.columns
#column names have a space and dot in the names

Index(['Index ', 'Row-ID', 'Order Id ', 'order-date', 'Ship.Date',
       'Ship  Mode', 'CustomerID', 'Customer  Name', 'Segment', 'Country',
       'City', 'State', 'Postal_Code#', 'REGION', 'Product ID', 'Category',
       'Sub Category', 'PRODUCT NAME', 'Sales($)', 'Qty', 'disc', 'Profit %',
       'Notes (Dirty)'],
      dtype='object')

In [9]:
df_center.dtypes

Index               int64
Row-ID              int64
Order Id           object
order-date         object
Ship.Date          object
Ship  Mode         object
CustomerID         object
Customer  Name     object
Segment            object
Country            object
City               object
State              object
Postal_Code#      float64
REGION             object
Product ID         object
Category           object
Sub Category       object
PRODUCT NAME       object
Sales($)           object
Qty                 int64
disc              float64
Profit %           object
Notes (Dirty)      object
dtype: object

In [29]:
df_center['row_id'] = df_center['row_id'].astype(float)
df_center.dtypes

index              int64
row_id           float64
order_id          object
order_date        object
ship_date         object
ship_mode         object
customer_id       object
customer_name     object
segment           object
country           object
city              object
state             object
postal_code      float64
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales             object
qty                int64
discount         float64
profit            object
notes(dirty)      object
dtype: object

In [10]:
df_center.isnull()

,Index,Row-ID,Order Id,order-date,Ship.Date,Ship Mode,CustomerID,Customer Name,Segment,Country,...,REGION,Product ID,Category,Sub Category,PRODUCT NAME,Sales($),Qty,disc,Profit %,Notes (Dirty)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2341,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2342,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2343,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2344,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2345,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [11]:
df_center.isnull().sum()

Index                0
Row-ID               0
Order Id             0
order-date         993
Ship.Date          938
Ship  Mode           0
CustomerID           0
Customer  Name      46
Segment              0
Country              0
City                 0
State                0
Postal_Code#        69
REGION               0
Product ID           0
Category             0
Sub Category         0
PRODUCT NAME         0
Sales($)            46
Qty                  0
disc                 0
Profit %             0
Notes (Dirty)     2295
dtype: int64

In [12]:
df_center.isnull().expanding().sum()

,Index,Row-ID,Order Id,order-date,Ship.Date,Ship Mode,CustomerID,Customer Name,Segment,Country,...,REGION,Product ID,Category,Sub Category,PRODUCT NAME,Sales($),Qty,disc,Profit %,Notes (Dirty)
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
3,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
4,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2341,0.0,0.0,0.0,991.0,936.0,0.0,0.0,46.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,2291.0
2342,0.0,0.0,0.0,992.0,937.0,0.0,0.0,46.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,2292.0
2343,0.0,0.0,0.0,993.0,938.0,0.0,0.0,46.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,2293.0
2344,0.0,0.0,0.0,993.0,938.0,0.0,0.0,46.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,2294.0
2345,0.0,0.0,0.0,993.0,938.0,0.0,0.0,46.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,2295.0

In [13]:
df_center.isnull().groupby(df_center.index).sum()

,Index,Row-ID,Order Id,order-date,Ship.Date,Ship Mode,CustomerID,Customer Name,Segment,Country,...,REGION,Product ID,Category,Sub Category,PRODUCT NAME,Sales($),Qty,disc,Profit %,Notes (Dirty)
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2341,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2342,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2343,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2344,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2345,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [35]:
df_center.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2341    False
2342     True
2343    False
2344    False
2345    False
Length: 2346, dtype: bool

In [74]:
# Find duplicates based only on 'Name' column
duplicates_subset = df_center[df_center.duplicated(subset=['customer_name'], keep=False)]

print("\nDuplicate Rows (based on Name):")
print(duplicates_subset)

Duplicate Rows (based on Name):
      index  row_id        order_id  order_date   ship_date       ship_mode  \
0        14    15.0  US-2015-118983  2015-11-22  11-26-2015  Standard Class
1        15    16.0  US-2015-118983  22/11/2015  2015-11-26  Standard Class
2        16    17.0  CA-2014-105893         NaN  18/11/2014  Standard Class
3        21    22.0  CA-2016-137330         NaN  12-13-2016  Standard Class
4        22    23.0  CA-2016-137330         NaN  13/12/2016  Standard Class
...     ...     ...             ...         ...         ...             ...
2341   1989  1990.0  CA-2015-127509         NaN  13/11/2015  Standard Class
2342   9485  9486.0  CA-2016-164770         NaN         NaN    Second Class
2343   8219  8220.0  CA-2014-120775         NaN         NaN  Standard Class
2344   8673  8674.0  CA-2017-163265  02-16-2017  02-21-2017  Standard Class
2345   6848  6849.0  US-2016-163461  06-18-2016  21/06/2016     First Class

     customer_id       customer_name      segment        country  ...  \
0       HP-14815       Harold Pawlan  Home Office  United States  ...
1       HP-14815       Harold Pawlan  Home Office  United States  ...
2       PK-19075           Pete Kriz     Consumer  United States  ...
3       KB-16585           Ken Black    Corporate  United States  ...
4       KB-16585           Ken Black    Corporate  United States  ...
...          ...                 ...          ...            ...  ...
2341    AS-10090  Adam Shillingsburg     Consumer  United States  ...
2342    MY-18295     Muhammed Yedwab    Corporate  United States  ...
2343    RD-19930   Russell D'Ascenzo     Consumer  United States  ...
2344    JS-16030           Joy Smith     Consumer  United States  ...
2345    BT-11440       Bobby Trafton     Consumer  United States  ...

       region       product_id         category sub_category  \
0     Central  OFF-AP-10002311  Office Supplies   Appliances
1     Central  OFF-BI-10000756  Office Supplies      Binders
2     Central  OFF-ST-10004186  Office Supplies      Storage
3     Central  OFF-AR-10000246  Office Supplies          Art
4     Central  OFF-AP-10001492  Office Supplies   Appliances
...       ...              ...              ...          ...
2341  Central  OFF-EN-10000781  Office Supplies    Envelopes
2342  Central  OFF-PA-10003893  Office Supplies        Paper
2343  Central  OFF-LA-10002271  OFFICE SUPPLIES       Labels
2344  Central  FUR-CH-10004063        Furniture       Chairs
2345  Central  OFF-PA-10003134  Office Supplies        Paper

                                           product_name    sales qty discount  \
0     Holmes Replacement Filter for HEPA Air Cleaner...    68.81   5      0.8
1      Storex DuraTech Recycled Plastic Frosted Binders    2.544   3      0.8
2     Stur-D-Stor Shelving, Vertical 5-Shelf: 72"H x...   665.88   6      0.0
3                                            Newell 318    19.46   7      0.0
4           Acco Six-Outlet Power Strip, 4' Cord Length    60.34   7      0.0
...                                                 ...      ...  ..      ...
2341            #10- 4 1/8" x 9 1/2" Recycled Envelopes    26.22   3      0.0
2342                                         Xerox 1962   30.816   9      0.2
2343  Smead Alpha-Z Color-Coded Second Alphabetical ...    4.928   2      0.2
2344            Global Deluxe High-Back Manager's Chair  600.558   3      0.3
2345                                         Xerox 1937   76.864   2      0.2

        profit  notes(dirty)
0     -123.858           NaN
1       -3.816           NaN
2      13.3176           NaN
3       5.0596           NaN
4      15.6884           NaN
...        ...           ...
2341    $12.32           NaN
2342      9.63           NaN
2343    1.7248           NaN
2344   -8.5794           NaN
2345   26.9024           NaN

[2075 rows x 23 columns]

In [32]:
# print the number of duplicate rows

count_duplicates = df_center.duplicated().sum()
print(f"Number of duplicate rows: {count_duplicates}")

Number of duplicate rows: 6

In [50]:
# print the duplicates

duplicates_only = df_center[df_center.duplicated(keep=False)]

print("Duplicate Rows Only:")
print(duplicates_only)

Duplicate Rows Only:
      index  row_id        order_id  order_date   ship_date       ship_mode  \
178     674   675.0  CA-2017-130351         NaN         NaN     First Class
180     676   677.0  US-2017-119438  03-18-2017  03-23-2017  Standard Class
1473   6418  6419.0  CA-2016-140130  2016-10-31         NaN  Standard Class
1969   8571  8572.0  CA-2016-162222         NaN         NaN        Same Day
2197   9485  9486.0  CA-2016-164770         NaN         NaN    Second Class
2248   9687  9688.0  US-2017-130603         NaN         NaN  Standard Class
2326   8571  8572.0  CA-2016-162222         NaN         NaN        Same Day
2328    676   677.0  US-2017-119438  03-18-2017  03-23-2017  Standard Class
2329    674   675.0  CA-2017-130351         NaN         NaN     First Class
2338   9687  9688.0  US-2017-130603         NaN         NaN  Standard Class
2340   6418  6419.0  CA-2016-140130  2016-10-31         NaN  Standard Class
2342   9485  9486.0  CA-2016-164770         NaN         NaN    Second Class

     customer_id     customer_name      segment        country  ...   region  \
178     RB-19570       Rob Beeghly     Consumer  United States  ...  Central
180     CD-11980      Carol Darley     Consumer  United States  ...  Central
1473    HW-14935   Helen Wasserman    Corporate  United States  ...  Central
1969    SR-20740     Steven Roelle  Home Office  United States  ...  Central
2197    MY-18295   Muhammed Yedwab    Corporate  United States  ...  Central
2248    SC-20050  Sample Company A  Home Office  United States  ...  Central
2326    SR-20740     Steven Roelle  Home Office  United States  ...  Central
2328    CD-11980      Carol Darley     Consumer  United States  ...  Central
2329    RB-19570       Rob Beeghly     Consumer  United States  ...  Central
2338    SC-20050  Sample Company A  Home Office  United States  ...  Central
2340    HW-14935   Helen Wasserman    Corporate  United States  ...  Central
2342    MY-18295   Muhammed Yedwab    Corporate  United States  ...  Central

           product_id         category sub_category  \
178   OFF-PA-10002137  Office Supplies        Paper
180   OFF-AP-10000804  Office Supplies   Appliances
1473  OFF-SU-10001218  Office Supplies     Supplies
1969  OFF-PA-10003893  Office Supplies        Paper
2197  OFF-PA-10003893  Office Supplies        Paper
2248  OFF-BI-10000301  Office Supplies      Binders
2326  OFF-PA-10003893  Office Supplies        Paper
2328  OFF-AP-10000804  Office Supplies   Appliances
2329  OFF-PA-10002137  Office Supplies        Paper
2338  OFF-BI-10000301  Office Supplies      Binders
2340  OFF-SU-10001218  Office Supplies     Supplies
2342  OFF-PA-10003893  Office Supplies        Paper

                             product_name   sales qty discount   profit  \
178   Southworth 100% RÃ©sumÃ© Paper, 24lb.    38.9   5      0.0   17.505
180     Hoover Portapower Portable Vacuum   2.688   3      0.8   -7.392
1473            Fiskars Softgrip Scissors   21.96   2      0.0   6.1488
1969                           Xerox 1962  10.272   3      0.2     3.21
2197                           Xerox 1962  30.816   9      0.2     9.63
2248               GBC Instant Report Kit  11.646   9      0.8  -17.469
2326                           Xerox 1962  10.272   3      0.2     3.21
2328    Hoover Portapower Portable Vacuum   2.688   3      0.8   -7.392
2329  Southworth 100% RÃ©sumÃ© Paper, 24lb.    38.9   5      0.0   17.505
2338               GBC Instant Report Kit  11.646   9      0.8  -17.469
2340            Fiskars Softgrip Scissors   21.96   2      0.0   6.1488
2342                           Xerox 1962  30.816   9      0.2     9.63

      notes(dirty)
178            NaN
180            NaN
1473           NaN
1969           NaN
2197           NaN
2248           NaN
2326           NaN
2328           NaN
2329           NaN
2338           NaN
2340           NaN
2342           NaN

[12 rows x 23 columns]

In [51]:
#print the duplicate values on customer

duplicates_only = df_center[df_center.duplicated(keep=False)]

print("Duplicate Rows Only:")
print(duplicates_only['customer_id'])

Duplicate Rows Only:
178     RB-19570
180     CD-11980
1473    HW-14935
1969    SR-20740
2197    MY-18295
2248    SC-20050
2326    SR-20740
2328    CD-11980
2329    RB-19570
2338    SC-20050
2340    HW-14935
2342    MY-18295
Name: customer_id, dtype: object

In [59]:
# percentage of duplicates
total = len(df_center)
percentage = (count_duplicates/total)*100
print(f"Percentage of duplicates: {percentage:.2f}%")

Percentage of duplicates: 0.17%

In [49]:
#delete duplicates

df_cleaned = df_center.drop_duplicates()
df_cleaned.shape

(2340, 23)

DF_EAST Information

In [5]:
df_east

,idx,row_id,order_id,OrderDate,ship_date,ShipMode,customer id,customer_name,Segment,Country,...,region,Product ID,Category,sub_category,product_name,sales,quantity,discount,profit,Notes (Dirty)
0,23,24,US-2017-156909,2017-07-16,2017-07-18,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,...,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196,NaN
1,27,28,US-2015-150630,09-17-2015,21/09/2015,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.43,7,0.5,"$-1,665.05",NaN
2,28,29,US-2015-150630,09-17-2015,21/09/2015,Standard,TB-21520,Tracy Blumstein,Consumer,United States,...,East,OFF-BI-10000474,Office Supplies,Binders,Avery Recycled Flexi-View Covers for Binding S...,9.618,2,0.7,-7.0532,NaN
3,29,30,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,East,FUR-FU-10004848,Furniture,Furnishings,"Howard Miller 13-3/4"" Diameter Brushed Chrome ...",124.2,3,0.2,15.525,NaN
4,30,31,US-2015-150630,2015-09-17,09-21-2015,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,3.264,2,0.2,1.1016,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,3913,3914,CA-2017-148068,18/09/2017,25/09/2017,Standard Class,MM-18280,Muhammed MacIntyre,Corporate,United States,...,East,FUR-FU-10002268,Furniture,Furnishings,Ultra Door Push Plate,9.82,2,0.0,$3.24,NaN
2872,8205,8206,CA-2015-114811,NaN,NaN,Same Day,KD-16495,Keith Dawkins,Corporate,United States,...,East,FUR-CH-10003746,Furniture,Chairs,Hon 4070 Series Pagoda Round Back Stacking Chairs,577.764,2,0.1,115.5528,NaN
2873,9203,9204,CA-2016-153836,30/10/2016,NaN,Standard Class,EH-13765,Edward Hooks,Corporate,United States,...,East,OFF-AR-10004602,Office Supplies,Art,Boston KS Multi-Size Manual Pencil Sharpener,114.95,5,0.0,32.186,NaN
2874,343,344,CA-2014-122336,2014-04-13,04-17-2014,Second Class,JD-15895,Jonathan Doherty,Corporate,United States,...,East,TEC-PH-10000702,TECHNOLOGY,Phones,"Square Credit Card Reader, 4 1/2"" x 4 1/2"" x 1...",71.928,12,0.4,8.3916,NaN
2875,4139,4140,CA-2017-127313,NaN,NaN,First Class,RA-19285,Ralph Arnett,Consumer,United States,...,East,OFF-ST-10001228,Office Supplies,Storage,Personal File Boxes with Fold-Down Carry Handle,37.392,3,0.2,2.337,check

In [14]:
df_east.shape

(2876, 23)

In [15]:
df_east.columns
#columns don't have under score between the words

Index(['idx', 'row_id ', 'order_id', 'OrderDate', 'ship_date ', 'ShipMode',
       'customer id', 'customer_name', 'Segment', 'Country', 'City', 'State',
       'postalcode', 'region', 'Product ID', 'Category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit',
       'Notes (Dirty)'],
      dtype='object')

In [16]:
df_east.dtypes

idx                int64
row_id             int64
order_id          object
OrderDate         object
ship_date         object
ShipMode          object
customer id       object
customer_name     object
Segment           object
Country           object
City              object
State             object
postalcode       float64
region            object
Product ID        object
Category          object
sub_category      object
product_name      object
sales             object
quantity           int64
discount         float64
profit            object
Notes (Dirty)     object
dtype: object

In [17]:
df_east.isnull()

,idx,row_id,order_id,OrderDate,ship_date,ShipMode,customer id,customer_name,Segment,Country,...,region,Product ID,Category,sub_category,product_name,sales,quantity,discount,profit,Notes (Dirty)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2872,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2873,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2874,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2875,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
df_east.isnull().sum()

idx                 0
row_id              0
order_id            0
OrderDate        1189
ship_date        1127
ShipMode            0
customer id         0
customer_name      57
Segment             0
Country             0
City                0
State               0
postalcode         86
region              0
Product ID          0
Category            0
sub_category        0
product_name        0
sales              56
quantity            0
discount            0
profit              0
Notes (Dirty)    2820
dtype: int64

In [57]:
df_east.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2871    False
2872    False
2873     True
2874    False
2875    False
Length: 2876, dtype: bool

In [61]:
# print the number of duplicate rows

count_duplicates = df_east.duplicated().sum()
print(f"Number of duplicate rows: {count_duplicates}")

Number of duplicate rows: 4

In [62]:
# print the duplicates

duplicates_only = df_center[df_east.duplicated(keep=False)]

print("Duplicate Rows Only:")
print(duplicates_only)

Duplicate Rows Only:
      index  row_id        order_id  order_date   ship_date       ship_mode  \
128     467   468.0  US-2015-101399  01-17-2015  24/01/2015  Standard Class
327    1446  1447.0  CA-2017-102337  06-13-2017  2017-06-16     First Class
1664   7282  7283.0  CA-2017-155936  22/06/2017  06-29-2017  Standard Class

     customer_id    customer_name      segment        country  ...   region  \
128     JS-15940  Joni Sundaresam  Home Office  United States  ...  Central
327     SD-20485  Shirley Daniels  Home Office  United States  ...  Central
1664    JK-15730    Joe Kamberova     Consumer  United States  ...  Central

           product_id         category sub_category  \
128   FUR-FU-10002918        Furniture  Furnishings
327   FUR-CH-10004289        Furniture       Chairs
1664  OFF-BI-10002432  Office Supplies      Binders

                                           product_name    sales qty discount  \
128   Eldon ClusterMat Chair Mat with Cordless Antis...  $254.74   7      0.6
327                            Global Super Steno Chair  470.302   7      0.3
1664               Wilson Jones Standard D-Ring Binders    3.036   3      0.8

         profit  notes(dirty)
128   -312.0614           NaN
327    -87.3418           NaN
1664    -5.0094           NaN

[3 rows x 23 columns]

/tmp/ipython-input-1074973263.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  duplicates_only = df_center[df_east.duplicated(keep=False)]

In [64]:
#print the duplicate values on customer

duplicates_only = df_east[df_east.duplicated(keep=False)]

print("Duplicate Rows Only:")
print(duplicates_only['customer_id'])

Duplicate Rows Only:
128     DK-13225
327     LA-16780
1664    RS-19420
2596    EH-13765
2854    LA-16780
2855    RS-19420
2859    DK-13225
2873    EH-13765
Name: customer_id, dtype: object

In [65]:
# percentage of duplicates
total = len(df_east)
percentage = (count_duplicates/total)*100
print(f"Percentage of duplicates: {percentage:.2f}%")

Percentage of duplicates: 0.14%

In [67]:
#delete duplicates

df_cleaned = df_east.drop_duplicates()
df_cleaned.shape

(2872, 23)

DF_NORTH Information

In [6]:
df_north

,unnamed_col,RowId,ORDER-ID,ORDER DATE,ShipDate,SHIP_MODE,CUST-ID,CUSTOMER NAME,Segment,Country,...,Region,Product ID,Category,SubCategory,Product Name,Sales USD,QTY,Discount%,PROFIT($),Notes (Dirty)
0,9611,9612,CA-2017-144365,24/10/2017,10-30-2017,Standard Class,CS-11950,Carlos Soltero,Consumer,United States,...,North,OFF-FA-10000735,Office Supplies,Fasteners,Staples,11.68,4,0.0,5.256,NaN
1,2404,2405,CA-2017-108574,NaN,NaN,Standard Class,MG-18145,Mike Gockenbach,Consumer,United States,...,North,TEC-AC-10002049,Technology,Accessories,Logitech G19 Programmable Gaming Keyboard,1115.91,9,0.0,200.8638,NaN
2,2476,2477,CA-2016-114972,NaN,NaN,First Class,PF-19225,Phillip Flathmann,Consumer,United States,...,North,OFF-AP-10003057,OFFICE SUPPLIES,Appliances,Honeywell Enviracaire Portable HEPA Air Cleane...,1101.48,4,0.0,429.5772,NaN
3,8698,8699,CA-2017-119284,2017-06-15,2017-06-20,Standard Class,TS-21205,Thomas Seio,Corporate,United States,...,North,FUR-TA-10004152,Furniture,Tables,"Barricks 18"" x 48"" Non-Folding Utility Table w...",120.96,2,0.4,-28.224,NaN
4,9685,9686,CA-2017-118668,NaN,NaN,Second Class,FW-14395,Fred Wasserman,Corporate,United States,...,North,TEC-AC-10000682,Technology,Accessories,Kensington K72356US Mouse-in-a-Box USB Desktop...,$16.59,1,0.0,5.8065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,6512,6513,CA-2017-167640,NaN,NaN,Standard Class,FC-14245,Frank Carlisle,Home Office,United States,...,North,OFF-LA-10004559,Office Supplies,Labels,Avery 49,NaN,4,0.0,5.6448,NaN
2622,576,577,CA-2015-149713,18/09/2015,09-22-2015,Second Class,TG-21640,Trudy Glocke,Consumer,United States,...,North,OFF-PA-10001450,Office Supplies,Paper,Rediform S.O.S. Phone Message Books,19.92,4,0.0,9.7608,NaN
2623,338,339,CA-2014-129924,NaN,07-17-2014,Standard Class,AC-10420,Alyssa Crouse,Corporate,United States,...,North,FUR-TA-10004575,Furniture,Tables,Hon 5100 Series Wood Tables,698.352,3,0.2,-17.4588,NaN
2624,8751,8752,CA-2016-105662,NaN,NaN,Standard Class,RB-19465,Rick Bensley,Home Office,United States,...,North,OFF-PA-10001001,Office Supplies,Paper,Snap-A-Way Black Print Carbonless Speed Messag...,93.248,4,0.2,31.4712,NaN
2625,9501,9502,US-2015-158589,20/11/2015,11-24-2015,Standard Class,KW-16570,Kelly Williams,Consumer,United States,...,North,FUR-FU-10001546,Furniture,Furnishings,Dana Swing-Arm Lamps,32.04,3,0.0,8.01,NaN

In [19]:
df_north.shape

(2626, 23)

In [20]:
df_north.columns
#column names are in title format with no space between the words

Index(['unnamed_col', 'RowId', 'ORDER-ID', 'ORDER DATE', 'ShipDate',
       'SHIP_MODE', 'CUST-ID', 'CUSTOMER NAME', 'Segment', 'Country', 'City',
       'State', 'Postal Code ', 'Region ', 'Product ID', 'Category',
       'SubCategory', 'Product  Name', 'Sales USD', 'QTY ', 'Discount%',
       'PROFIT($)', 'Notes (Dirty)'],
      dtype='object')

In [21]:
df_north.dtypes

unnamed_col        int64
RowId              int64
ORDER-ID          object
ORDER DATE        object
ShipDate          object
SHIP_MODE         object
CUST-ID           object
CUSTOMER NAME     object
Segment           object
Country           object
City              object
State             object
Postal Code      float64
Region            object
Product ID        object
Category          object
SubCategory       object
Product  Name     object
Sales USD         object
QTY                int64
Discount%        float64
PROFIT($)         object
Notes (Dirty)     object
dtype: object

In [22]:
df_north.isnull()

,unnamed_col,RowId,ORDER-ID,ORDER DATE,ShipDate,SHIP_MODE,CUST-ID,CUSTOMER NAME,Segment,Country,...,Region,Product ID,Category,SubCategory,Product Name,Sales USD,QTY,Discount%,PROFIT($),Notes (Dirty)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
2622,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2623,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2624,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2625,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [23]:
df_north.isnull().sum()

unnamed_col         0
RowId               0
ORDER-ID            0
ORDER DATE       1079
ShipDate          992
SHIP_MODE           0
CUST-ID             0
CUSTOMER NAME      52
Segment             0
Country             0
City                0
State               0
Postal Code        78
Region              0
Product ID          0
Category            0
SubCategory         0
Product  Name       0
Sales USD          53
QTY                 0
Discount%           0
PROFIT($)           0
Notes (Dirty)    2586
dtype: int64

In [68]:
df_north.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2621     True
2622    False
2623    False
2624    False
2625    False
Length: 2626, dtype: bool

In [69]:
# print the number of duplicate rows

count_duplicates = df_north.duplicated().sum()
print(f"Number of duplicate rows: {count_duplicates}")

Number of duplicate rows: 2

In [70]:
# print the duplicates

duplicates_only = df_north[df_north.duplicated(keep=False)]

print("Duplicate Rows Only:")
print(duplicates_only)

Duplicate Rows Only:
      index  row_id        order_id order_date   ship_date       ship_mode  \
134    6512    6513  CA-2017-167640        NaN         NaN  Standard Class
837    7015    7016  CA-2014-114790        NaN  03-13-2014    Second Class
2608   7015    7016  CA-2014-114790        NaN  03-13-2014    Second Class
2621   6512    6513  CA-2017-167640        NaN         NaN  Standard Class

     customer_id   customer_name      segment        country  ... region  \
134     FC-14245  Frank Carlisle  Home Office  United States  ...  North
837     FM-14215   Filia McAdams    Corporate  United States  ...  North
2608    FM-14215   Filia McAdams    Corporate  United States  ...  North
2621    FC-14245  Frank Carlisle  Home Office  United States  ...  North

           product_id         category sub_category          product_name  \
134   OFF-LA-10004559  Office Supplies       Labels              Avery 49
837   TEC-AC-10000710       Technology  Accessories  Maxell DVD-RAM Discs
2608  TEC-AC-10000710       Technology  Accessories  Maxell DVD-RAM Discs
2621  OFF-LA-10004559  Office Supplies       Labels              Avery 49

      sales qty discount   profit  notes(dirty)
134     NaN   4      0.0   5.6448           NaN
837   32.96   2      0.0  14.1728           NaN
2608  32.96   2      0.0  14.1728           NaN
2621    NaN   4      0.0   5.6448           NaN

[4 rows x 23 columns]

In [71]:
#print the duplicate values on customer

duplicates_only = df_north[df_north.duplicated(keep=False)]

print("Duplicate Rows Only:")
print(duplicates_only['customer_id'])

Duplicate Rows Only:
134     FC-14245
837     FM-14215
2608    FM-14215
2621    FC-14245
Name: customer_id, dtype: object

In [72]:
# percentage of duplicates
total = len(df_north)
percentage = (count_duplicates/total)*100
print(f"Percentage of duplicates: {percentage:.2f}%")

Percentage of duplicates: 0.08%

In [73]:
#delete duplicates

df_cleaned = df_north.drop_duplicates()
df_cleaned.shape

(2624, 23)

Rename Columns

In [24]:
new_column_names = ['index','row_id','order_id','order_date','ship_date','ship_mode','customer_id','customer_name','segment','country','city','state','postal_code','region','product_id','category','sub_category','product_name','sales','qty','discount','profit','notes(dirty)']

In [25]:
df_center.columns = new_column_names
df_center.columns

Index(['index', 'row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'qty', 'discount', 'profit', 'notes(dirty)'],
      dtype='object')

In [26]:
df_east.columns = new_column_names
df_east.columns

Index(['index', 'row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'qty', 'discount', 'profit', 'notes(dirty)'],
      dtype='object')

In [27]:
df_north.columns = new_column_names
df_north.columns

Index(['index', 'row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'qty', 'discount', 'profit', 'notes(dirty)'],
      dtype='object')